* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #F1F1F1;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.book-list img {
  height: 200px;
  object-fit: contain;
}

.star-rating {
  position: relative;
  font-size: 20px;
  word-wrap: normal !important;
}

.star-rating-front {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.star-rating-back {
  color: #ccc;
}

.average {
  font-size: 20px;
  font-weight: bold;
}